$main-grad-color: linear-gradient(-90deg, #490bdf 20%,  #a65dff 100%);
$body-bg-color: #fef9ff;
$h4-font-color: #6f6d73;
$panel-bg-color: #f4f0f6;
$main-font-color: #434343;
$large-font-color: RGBA(255, 255, 255, 0.65); 
$result-header-color: #8d889a;
$search-font-color: RGBA(255, 255, 255, 0.85); 
$search-placeholder-color: RGBA(35, 37, 39, 0.5);
$result-header-color: #E0E0E0; 
$result-panel-color: RGBA(255, 255, 255, 1);  
$input-border-color: #E7E7E7;
$tag-border-color:#A9ADED;
$tag-font-color: #8085CB;
$main-border-radius: 3px;
$icon-color: #490bdf;
$icon-color-hover: #a65dff;

$main-gap:30px;
$min-gap:20px;


