.sidebar {
    margin: 0 auto;
    min-width: 150px;
    width: 100%;
    max-width: 300px;
}


.sidebar-panel {
    h4 {
        margin: 0;
        position: relative;
        width: 100%;
        color: $h4-font-color;
        height: 50px;
        line-height: 57px;
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 40px;
        background: transparent;

        &:before {
            font-family: "FontAwesome";
            right: 20px;
            position: absolute;
            content: "";
        }
    }

    h6,
    span,
    input {
        font-size: 1em;
    }
}

.side-panel-date-row {
    margin-bottom: 5px;
}

.sidebar-panel-selector {
    width: 100%;
}

.sidebar-panel-date {
    line-height: 2;

    h6 {
        padding: 0;
        text-align: right;
        vertical-align: middle;
        margin-top: 8px;
    }
}

.sidebar-panel-lable {
    padding-left: 3px;
}
.sidebar-panel-checkbox-wrapper {
    margin-bottom: 2px;
}

.sidebar-panel-content {
    border-radius: $main-border-radius;
    background: $panel-bg-color;
    padding: 36px 40px;
    width: 100%;
}

@media screen and (max-width: 768px) {


    .sidebar-panel-title {

        cursor: initial; 

        .h4 {
            padding-left: 20px;
        }
    }
    .sidebar-panel-content {
        padding: 40px 20px;
    }

    .sidebar-panel-date {
        h6 {
            text-align: left;
            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .sidebar-panel-title{
        cursor: pointer; 
    }
    .sidebar {
        max-width: 100%;
    }
    .sidebar-panel-checkbox-wrapper {
        margin-bottom: 10px;
    }

    .sidebar-panel {
        margin: 0 auto 10px;
    }

    .ant-calendar-picker {
        width: 100%;
    }

    .sidebar-panel--close {
        .sidebar-panel-title {
            width: 100%;
            background: $main-grad-color;
            border-radius: $main-border-radius;

            h4 {
                font-size: 1em;
                line-height: 50px;
                font-weight: 400;
                padding-left: 30px;
                > span,
                &:before {
                    color: #fff;
                }
                &:before {
                    content: "\f107";
                    transform: rotate(180deg);
                }
            }
        }
        .sidebar-panel-content {
            display: none;
        }
    }

    .sidebar-panel--open {
        .sidebar-panel-title {
            width: 100%;
            background: transparent;
        }
        h4 {
            font-size: 1.2em;
            line-height: 57px;
            font-weight: 700;
            padding-left: 20px;
            > span,
            &:before {
                color: $h4-font-color;
            }
            &:before {
                content: "\f107";
                transform: rotate(0deg);
            }
        }
        .sidebar-panel-content {
            display: block;
        }
    }
}
