.sidebar {
    margin: 0 auto;
    padding-top: 10px;
    min-width: 150px;
    width: 30%;
}


.sidebar-panel {
    h4 {
        margin: 0;
        position: relative;
        width: 100%;
        color: $h4-font-color;
        height: 50px;
        line-height: 57px;
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 30px;
        background: transparent;
        margin-bottom: 5px;
        &:before {
            font-family: "FontAwesome";
            right: 20px;
            position: absolute;
            content: "";
        }
    }
    h6,
    span,
    input {
        font-size: 1em;
    }
}

.ant-select{
    width: 100%;
}
.ant-checkbox-group label{
    width: 45%;
    min-width: 90px;
    margin-top:5px;
}
// .sidebar-panel-lable {
//     padding-left: 3px;
// }

// .sidebar-panel-checkbox-wrapper {
//     margin-bottom: 2px;
// }

.sidebar-panel-content {
    border-radius: $main-border-radius;
    background: $panel-bg-color;
    padding: 36px $main-gap;
    width: 100%;
}




@media screen and (max-width: 800px) {
    .sidebar {
        width: 40%;
    }
}


@media screen and (max-width: 576px) {

    .sidebar-panel-title{
        cursor: pointer; 
    }
    .sidebar {
        width: 100%;
    }

    .sidebar-panel {
        margin: 0 auto 10px;
    }


    .sidebar-panel--close {
        .sidebar-panel-title {
            width: 100%;
            background: $main-grad-color;
            border-radius: $main-border-radius;

            h4 {
                font-size: 1em;
                line-height: 50px;
                font-weight: 400;
                padding-left: 30px;
                > span,
                &:before {
                    color: #fff;
                }
                &:before {
                    content: "\f107";
                    transform: rotate(180deg);
                }
            }
        }
        .sidebar-panel-content {
            display: none;
        }
    }

    .sidebar-panel--open {
        .sidebar-panel-title {
            width: 100%;
            background: transparent;
        }
        h4 {
            font-size: 1.2em;
            line-height: 57px;
            font-weight: 700;
            padding-left: 20px;
            > span,
            &:before {
                color: $h4-font-color;
            }
            &:before {
                content: "\f107";
                transform: rotate(0deg);
            }
        }
        .sidebar-panel-content {
            display: block;
        }
    }
}
